[submodule "apidoc/zinc"]
	path = apidoc/zinc
	url = https://github.com/OpenCMISS/zinc
	branch = develop
[submodule "apidoc/LibZincDoxygen"]
	path = apidoc/LibZincDoxygen
	url = https://github.com/OpenCMISS-Dependencies/LibZincDoxygen
[submodule "apidoc/iron"]
	path = apidoc/iron
	url = https://github.com/OpenCMISS/iron
	branch = develop
