{% extends 'partials/examples.jinja' %}
{% block title %}
Animation of the jaw model using the Emoter. - OpenCMISS Examples
{% endblock %}
{% set model_title = 'Animation of the jaw model using the Emoter.' %}
{% set model_url = '/assets/examples/a/animate_jaw/examples_a_animate_jaw.tar.gz' %}
{% block authors %}
<a href="http://abi.auckland.ac.nz">Auckland Bioengineering Institute</a>
{% endblock %}
{% block model_description %}
<p>
	This example animates opening and closing of the mandible using the Emoter.
</p>
{% endblock %}
{% set scene_namespace = '../../../assets/examples/a/animate_jaw/jaw' %}
{% set scene_placeholder_image = '../../../assets/examples/a/animate_jaw/animate_jaw.png' %}
