{% extends 'partials/examples.jinja' %}
{% block title %}
Animation of the jaw model. - OpenCMISS Examples
{% endblock %}
{% set model_title = 'Animation of the jaw model.' %}
{% set model_url = '/assets/examples/a/animate_jaw/examples_a_animate_jaw.tar.gz' %}
{% block authors %}
<a href="http://abi.auckland.ac.nz">Auckland Bioengineering Institute</a>
{% endblock %}
{% block model_description %}
<p>
	This example animates opening and closing of the mandible using the Emoter.
</p>
{% endblock %}
{% set scene_view_name = '../../../assets/examples/a/animate_jaw/jaw_view.json' %}
{% set scene_placeholder_image = '../../../assets/examples/a/animate_jaw/animate_jaw.png' %}
{% set scene_prefix = '../../../assets/examples/a/animate_jaw' %}
{% set scene_object_names = 'jaw' %}
{% set light_intensity = 1.8 %}
