{% extends 'partials/common_with_sidebar.jinja' %}
{% set active_nav = "community" %}
{% block title %}OpenCMISS Community{% endblock %}
{% block sidebar_title %}<h1>Table of Contents</h1>{% endblock %}
{% block sidebar_content %}
<ul>
	<li><a href="#news">News and Updates</a></li>
	<li><a href="#mailinglist">Mailing List</a></li>
	<li><a href="#bugtracker">Bug Tracker</a></li>
	<li><a href="#contributors">Contributors</a></li>
</ul>
{% endblock %}
{% block content %}
<h1>Community</h1>
<p>Find out more about the people behind the OpenCMISS project. Learn how to participate, file a bug report or make feature request.</p>

<h2 id="news">News and Updates</h2>
<p>Visit the <a href="/news/">News page</a> to find the latest announcements from the OpenCMISS project developers.</p>
<p> View the <a href="/minutes/">minutes</a> of regular OpenCMISS meetings held at the Auckland Bioengineering Institute.</p>
<h2  id="mailinglist">Mailing List</h2>
<p>Two mailing lists are set up, one for user support queries and one for developers working on OpenCMISS.</p>
<div class="row">
	<div class="col-sm-12">
		<h3>Users Support</h3>
		<p class="accent"><a href="mailto:users@opencmiss.org">users@opencmiss.org</a> (<a class="title-link" href="https://list.opencmiss.org/sympa/arc/users">View Archive</a> |  <a class="title-link" href="https://list.opencmiss.org/sympa/subscribe/users">Subscribe</a>)</p>
		<p>User issues and questions about any OpenCMISS software can be e-mailed to the above mailing list address for developers and other users to respond to.</p>
		<p>We invite anyone to subscribe to the OpenCMISS users mailing list by clicking on ‘Subscribe’ link above. Once subscribed you will receive any future questions from users and announcements from the developers, and can respond to them as part of the OpenCMISS community.</p>
		<p>Please help us by using a descriptive message subject which summarises the issue or question, and also states the software component (Iron, Zinc, Cmgui etc.) and operating system, if the issue is specific to one.</p>

		<p>When the archive is more established we ask you to first look for your issue there.</p>
	</div>
	<div class="col-sm-12">
		<h3>Developers</h3>
		<p class="accent"><a href="mailto:developers@opencmiss.org">developers@opencmiss.org</a> (<a class="title-link" href="https://list.opencmiss.org/sympa/arc/developers">View Archive</a> |  <a class="title-link" href="https://list.opencmiss.org/sympa/subscribe/developers">Subscribe</a>)</p>
		<p>If you intend to extend or contribute to the OpenCMISS codebase, you can subscribe to the OpenCMISS Developers mailing list using the above link. Once subscribed you will receive future developer notifications and exchanges and be able to take part by mailing the developer list at above address.</p>
	</div>
</div>
<h2  id="GitHubIssues">GitHub issues</h2>
<p> We track bugs, new features, design ideas and user queries through GitHub issues. We only ever add code changes for items with GitHub issues.</p>
<p class="accent"><a href="https://github.com/OpenCMISS/zinc/issues">OpenCMISS-Zinc issues (including PyZinc)</a></p>
<p class="accent"><a href="https://github.com/OpenCMISS/iron/issues">OpenCMISS-Iron issues (including PyIron)</a></p>
<p class="accent"><a href="https://github.com/OpenCMISS/documentation/issues">OpenCMISS-Documentation issues</a></p>
<p class="accent"><a href="https://github.com/OpenCMISS/manage/issues">OpenCMISS-Manage comprehensive build system issues</a></p>
<p class="accent"><a href="https://github.com/OpenCMISS/manage/issues">OpenCMISS-Setup simplified build system issues</a></p>
<p class="accent"><a href="https://github.com/OpenCMISS/examples/issues">OpenCMISS-Examples issues</a></p>
<p class="accent"><a href="https://github.com/OpenCMISS/website/issues">OpenCMISS-Website issues</a></p>

<p> Previous issues created using the old physiomeproject tracker can be found here:</p>
<p class="accent"><a href="https://tracker.physiomeproject.org/buglist.cgi?query_format=advanced&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&product=Zinc%20library">OpenCMISS-Zinc Issues (including PyZinc)</a></p>
<p class="accent"><a href="https://tracker.physiomeproject.org/buglist.cgi?query_format=advanced&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&product=OpenCMISS-Iron">OpenCMISS-Iron Issues (including PyIron)</a></p>

<p> Typically we ask users to first send issues and feature requests to the Users mailing list (see above) from which the developers will raise GitHub issues. However, feel free to search the GitHub issues (or the older Physiome tracker items) for requests that might be relevant to you. Once you login to GitHub, you can add your feedback to an existing issue. If you find a relaxant item in the older Physiome Tracker, please create a new GitHub issue under the appropriate OpenCMISS GitHub repository and add a link to relavant tracker item in the Physiome Tracker.</p>

<p> We stongly encourage users to add their interest in getting a feature or bug fix completed by posting to and CCing to the item: this helps us to increase the priority with which they are looked into.</p>

<h2  id="contributors">Contributors</h2>
<p>A complete list of past and current contributors can be found in the <a href="/about.html#contributors">About page</a>.</p>


{% endblock %}
{% block styles %}
{{ super() }}
<!-- build:css(.tmp) /styles/community.css -->
<link rel="stylesheet" href="/styles/community.css">
<!-- endbuild -->
{% endblock %}
