{% extends 'partials/common_no_sidebar.jinja' %}
{% block title %}Getting Started with OpenCMISS{% endblock %}
{% block content %}
<h1>Getting Started</h1>
<p>The OpenCMISS libraries are distributed in source form and pre-built SDKs.  The SDKs contain the OpenCMISS libraries and the required files for making use of the libraries from Python.  If an SDK is not available for your environment you will need to build your own libraries from source.</p>
<div class="row-padded">
	<div class="col-sm-6 media-item">
		<a href="/downloads.html">
			<div class="description">
				<p class="name">Installing OpenCMISS</p>
				<p>Links for downloading and installing OpenCMISS software.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/documentation/building">
			<div class="description">
				<p class="name">Building OpenCMISS</p>
				<p>Instructions on how to build OpenCMISS from source.</p>
			</div>
		</a>
	</div>
</div>
{% endblock %}
{% block styles %}
<!-- build:css(.tmp) /styles/getting-started.css -->
<link rel="stylesheet" href="/styles/getting-started.css">
<!-- endbuild -->
{% endblock %}
