{% extends 'partials/examples.jinja' %}
{% block title %}
Eye model - OpenCMISS Examples
{% endblock %}
{% set model_title = 'Eye model' %}
{% set model_url = '/assets/examples/a/eye/examples_a_eye.tar.gz' %}
{% block authors %}
<a href="http://abi.auckland.ac.nz/">Auckland Bioengineering Institute</a>
{% endblock %}
{% block model_description %}
<p>This example displays the eye model under development at the Auckland
	Bioengineering Institute.</p>
{% endblock %}
{% block main_image %}
<img src="/assets/examples/a/eye/eye.jpg" alt="An image of the eye model.">
{% endblock %}
{% block thumbs %}
<img class="thumb" src="/assets/examples/a/eye/eye.png" alt="An image of the eye model.">
{% endblock %}
