{% extends 'partials/examples.jinja' %}
{% block title %}
Eye model - OpenCMISS Examples
{% endblock %}
{% set model_title = 'Eye model' %}
{% set model_url = '/assets/examples/a/eye/examples_a_eye.tar.gz' %}
{% block authors %}
<a href="http://abi.auckland.ac.nz/">Auckland Bioengineering Institute</a>
{% endblock %}
{% block model_description %}
<p>This example displays the eye model under development at the Auckland
	Bioengineering Institute.</p>
{% endblock %}
{% block main_image %}
{% set scene_view_name = '../../../assets/examples/a/eye/eye_view.json' %}
{% set scene_placeholder_image = '../../../assets/examples/a/eye/eye.png' %}
{% set scene_prefix = '../../../assets/examples/a/eye' %}
{% set scene_object_names = 'eye' %}
