{% extends 'partials/examples.jinja' %}
{% block title %}
Per pixel lighting example - OpenCMISS Examples
{% endblock %}
{% set model_title = 'Per pixel lighting example' %}
{% set model_url = '/assets/examples/a/per_pixel_lighting/examples_a_per_pixel_lighting.tar.gz' %}
{% block authors %}
<a href="http://www.abi.auckland.ac.nz/people/profile/h-sorby">Hugh Sorby</a> / <a href="http://abi.auckland.ac.nz">Auckland Bioengineering Institute</a>
{% endblock %}
{% block model_description %}
<p> CMISS can now use the ARB Vertex program and ARB Fragment program OpenGL extensions to provide per pixel lighting. This shading is a vast improvement over the equivalent lighting with standard Gouraud shading, the specular highlights are very sharp and move smoothly across the surface instead of being starlike and blurry. Code has also been added to support bump texture maps. </p>
{% endblock %}
{% set scene_view_name = '../../../assets/examples/a/per_pixel_lighting/heart_view.json' %}
{% set scene_placeholder_image = '../../../assets/examples/a/per_pixel_lighting/per_pixel_lighting.png' %}
{% set scene_prefix = '../../../assets/examples/a/per_pixel_lighting' %}
{% set scene_object_names = 'heart' %}
