{% extends 'partials/examples.jinja' %}
{% block title %}
Triangle mixed basis - OpenCMISS Examples
{% endblock %}
{% set model_title = 'Triangle mixed basis example' %}
{% set model_url = 'http://cmiss.bioeng.auckland.ac.nz/development/examples/a/triangle_mixed_basis/examples_a_triangle_mixed_basis.tar.gz' %}
{% block authors %}
<a href="http://www.abi.auckland.ac.nz/people/profile/h-sorby">Hugh Sorby</a> / <a href="http://abi.auckland.ac.nz">Auckland Bioengineering Institute</a>
{% endblock %}
{% block model_description %}
<p>Linear and quadratic simplex basis functions in the same element. </p>
{% endblock %}
{% set scene_view_name = '../../../assets/examples/a/triangle_mixed_basis/triangle_view.json' %}
{% set scene_placeholder_image = '../../../assets/examples/a/triangle_mixed_basis/triangle_mixed_basis.png' %}
{% set scene_prefix = '../../../assets/examples/a/triangle_mixed_basis' %}
{% set scene_object_names = 'triangle' %}
{% set light_intensity = 1.8 %}
